force-app/main/default/flows/Delivery_Feedback_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Five</name>
        <choiceText>Five</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Five</stringValue>
        </value>
    </choices>
    <choices>
        <name>Four</name>
        <choiceText>Four</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Four</stringValue>
        </value>
    </choices>
    <choices>
        <name>One</name>
        <choiceText>One</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One</stringValue>
        </value>
    </choices>
    <choices>
        <name>Three</name>
        <choiceText>Three</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Three</stringValue>
        </value>
    </choices>
    <choices>
        <name>Two</name>
        <choiceText>Two</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Two</stringValue>
        </value>
    </choices>
    <interviewLabel>Delivery Feedback record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delivery Feedback record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Customer_Record</name>
        <label>Customer Record</label>
        <locationX>406</locationX>
        <locationY>256</locationY>
        <assignRecordIdToReference>Feedback_ID</assignRecordIdToReference>
        <inputAssignments>
            <field>Feedback_Message__c</field>
            <value>
                <elementReference>Feedback_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Feedback_customer_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>Select_Rating</elementReference>
            </value>
        </inputAssignments>
        <object>Home_Delivery_Feedback__c</object>
    </recordCreates>
    <screens>
        <name>Feedback_form</name>
        <label>Feedback form</label>
        <locationX>416</locationX>
        <locationY>103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Record</targetReference>
        </connector>
        <fields>
            <name>Feedback_customer_name</name>
            <dataType>String</dataType>
            <fieldText>Feedback customer name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Rating</name>
            <choiceReferences>One</choiceReferences>
            <choiceReferences>Two</choiceReferences>
            <choiceReferences>Three</choiceReferences>
            <choiceReferences>Four</choiceReferences>
            <choiceReferences>Five</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Rating</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Feedback_Text</name>
            <dataType>String</dataType>
            <fieldText>Feedback Text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>243</locationX>
        <locationY>85</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Feedback_form</targetReference>
        </connector>
        <fields>
            <name>Welcome</name>
            <fieldText>Hello Customer..!!
Please continue to the next page and provide your valuable feedback.
Thanks
Dice.com</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Welcome_Screen</startElementReference>
    <status>Active</status>
    <variables>
        <name>Feedback_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
