force-app/main/default/flows/Partner_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sample_Email</name>
        <label>Sample Email</label>
        <locationX>936</locationX>
        <locationY>363</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyofEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Partner_Elgibility_Decision</name>
        <label>Partner Elgibility Decision</label>
        <locationX>537</locationX>
        <locationY>237</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_Registration_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Turnover_amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Record_Creation</targetReference>
            </connector>
            <label>Partner Registration Condition</label>
        </rules>
        <rules>
            <name>Partner_Registration_Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Turnover_amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Reg_Failure</targetReference>
            </connector>
            <label>Partner Registration Failure</label>
        </rules>
    </decisions>
    <interviewLabel>Partner Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Partner_Record_Creation</name>
        <label>Partner Record Creation</label>
        <locationX>695</locationX>
        <locationY>360</locationY>
        <assignRecordIdToReference>RecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Sample_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Partner_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Turnover_amount__c</field>
            <value>
                <elementReference>Turnover_amount</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Registratio__c</object>
    </recordCreates>
    <screens>
        <name>Partner_Data_Entry_Screen</name>
        <label>Partner Data Entry Screen</label>
        <locationX>544</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Partner_Elgibility_Decision</targetReference>
        </connector>
        <fields>
            <name>Partner_Name</name>
            <dataType>String</dataType>
            <fieldText>Partner Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Turnover_amount</name>
            <dataType>Currency</dataType>
            <fieldText>Turnover amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Partner_Reg_Failure</name>
        <label>Partner Reg Failure</label>
        <locationX>463</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Failure_condition</name>
            <fieldText>To complete the registration the turnover amount should be $10000 minimum or more than that.
Sorry for the inconvenience..!!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>390</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Partner_Data_Entry_Screen</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>Welcome to the Partner Registration Process.
Kindly move on the next page.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyofEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey {!Partner_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for registering.! Your Record ID is : {!RecordID}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank You.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Registration&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
