force-app/main/default/flows/Test_New_Case_And_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>Electrical</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Electrical&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Electronic</name>
        <choiceText>Electronic</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>EmailChoice</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mechanical</name>
        <choiceText>Mechanical</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>WebChoice</name>
        <choiceText>Web</choiceText>
        <dataType>String</dataType>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Test New Case And Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test New Case And Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Record</name>
        <label>Create Case Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>AdditioanlNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>CustomerName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>CustomerName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Case_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Capture_Case_Details</name>
        <label>Capture Case Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case_Record</targetReference>
        </connector>
        <fields>
            <name>CustomerName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Customer_First_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Customer_Last_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Email.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Case_Type</name>
            <choiceReferences>Mechanical</choiceReferences>
            <choiceReferences>Electrical</choiceReferences>
            <choiceReferences>Electronic</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Select a Case Type&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>Phone</choiceReferences>
            <choiceReferences>EmailChoice</choiceReferences>
            <choiceReferences>WebChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AdditioanlNotes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Notes</elementReference>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>CaseRecord.First_Name__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Capture_Case_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Customer_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Customer_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Notes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
